[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
[submodule "external/imgui-sfml"]
	path = external/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "app/external/imgui-sfml"]
	path = app/external/imgui-sfml
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "app/external/--force"]
	path = app/external/--force
	url = https://github.com/eliasdaler/imgui-sfml
[submodule "app/external/imgui"]
	path = app/external/imgui
	url = https://github.com/ocornut/imgui
